# Node modules
node_modules/
.bun/

# Output directories
dist/
build/
.out/
.next/

# System files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
bun.lockb
bun-debug.log*

# VSCode settings (optional)
.vscode/

# Expo
.expo/
.expo-shared/
